<div class="center">
  <section id="content">

      <h1 class="subheader">{{page_title}}</h1>
    
    <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label><!--Directiva Multidireccional-->
        <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required />

        <small *ngIf="!title.valid && title.touched">
          Debe Ingresar un Titulo Valido!!!
        </small>
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>

        <small *ngIf="!content.valid && content.touched">
          Debe Ingresar un Contenido Valido!!!
        </small>
      </div>

      <div class="image-edit" *ngIf="is_edit" >
        <!--cargando la Imagen desde la ruta si la iomagen existe-->
        <img src="{{url + 'get-image/' +article.image}}" alt="{{article.title}}" *ngIf="article.image" />
        <!--Si no existe carga una imagen por defecto-->
        <img src="assets/images/nofound.jpg" alt="{{article.title}}" *ngIf="!article.image" />
    </div>

      <div class="form-group">
        <angular-file-uploader [config]="afuConfig"
                              (ApiResponse)="imageUpload($event)"
        ><!--llamaa la funcion de angular para subir imagenes (angulas-file-uploader)-->
        </angular-file-uploader>
      </div>

      <div class="clearfix"></div>

      <input type="submit" value="Enviar" class="btn btn-success" [disabled]="articleForm.invalid">

    </form>
  </section>

  <app-sidebar></app-sidebar>

</div>