<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo">
            <img src="assets\images\angular.svg" class="app-logo" alt="Logotipo" />
            <span id="brand">
                <strong>Curso</strong>Angular
            </span>
        </div>
        
        <!-- MENU -->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">INICIO</a>
                </li>
                <li>
                    <a [routerLink]="['/blog']" [routerLinkActive]="['active']">BLOG</a>
                </li>
                <li>
                    <a [routerLink]="['/formulario']" [routerLinkActive]="['active']">FORMULARIO</a>
                </li>
                <li>
                    <a [routerLink]="['/peliculas']" [routerLinkActive]="['active']">PELICULAS</a>
                </li>
                <li>
                    <a [routerLink]="['/pagina-de-pruebas']" [routerLinkActive]="['active']">PAGINA</a>
                </li>                            
            </ul>
        </nav>

        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>
