<app-slider [nombre]="'PELICULAS TAQUILLERAS'" [size]="'small'"></app-slider>

<div class="center">
    <section id="content">

        <div id="favorita" *ngIf="favorita">

            <h1 class="subheader">
                Pelicula Favorita
            </h1>
            <h2>{{favorita.title | uppercase}}</h2>  <!--Pipes son varios se agregan asi (|)-->
            <h3>{{favorita.year | espar}}</h3> <!--Pipes personalizadas /pipes/espar.pipe.ts (|)-->
            <h3>Usando Pipes en Fecha = {{this.fechaPrueba | date: 'dd/MM/yyyy'}}</h3> <!--Pipes son varios se agregan asi (|)-->

        </div>

        <!--  *ngIF  --------------

        <h1 class="subheader">Primera Pelicula {{peliculas[0].title}}</h1>
        <hr />

        <h1 class="subheader">Listado de Peliculas</h1>
        <div *ngIf="peliculas.length > 3"> 
            <h2>Hay Muchas peliculas = {{peliculas.length}}</h2>
        </div>
        <div *ngIf="peliculas.length <= 3">
            <h2>Hay Pocas Peliculas = {{peliculas.length}}</h2>
        </div>
        <hr />

    -->

        <h3 class="subheader">Listado de Peliculas</h3>

        <div id="articles"> <!-----------------*ngFor-------------->

            <div *ngFor=" let pelicu of peliculas; let i = index;">
                <app-pelicula [pelis]="pelicu"
                            (marcarFavorita)="mostrarFavorita($event)"
                
                ></app-pelicula>

            </div>

        </div>

    </section>
    <app-sidebar></app-sidebar>

</div>