<h1 class="subheader">Primera Pelicula {{peliculas[0].title}}</h1>
<hr />

<h1 class="subheader">Listado de Peliculas</h1> 
<div *ngIf="peliculas.length > 3">   <!-----------------*ngIF-------------->
    <h2>Hay Muchas peliculas  = {{peliculas.length}}</h2> 
</div>
<div *ngIf="peliculas.length <= 3">
    <h2>Hay Pocas Peliculas = {{peliculas.length}}</h2>
</div>
<hr />

<div id="articles">    <!-----------------*ngFor-------------->
    <article class="article-item" id="article-template" *ngFor=" let pelis of peliculas; let i = index;">
        <div class="image-wrap">
            <img src="{{pelis.image}}" alt="{{pelis.title}}" />
        </div>

        <h2>{{i}} ) {{pelis.title}}</h2>

        <span class="date">
            Hace 5 minutos
        </span>
        <!----PUEDE SER TAMBIEN ASI [class.year-green]= "pelis.year > 2016" [class.year-red]= "pelis.year < 2016"----->
        <span class="year" [ngClass]="{'year-green' : pelis.year > 2016,
                                        'year-red' : pelis.year < 2016
                                    }">
            {{pelis.year}}
        </span>

        <a href="#">Leer más</a>

        <div class="clearfix"></div>
    </article>

</div>